@charset "UTF-8";

#wrap {
	width: 1200px;
	margin: auto;
}

header {
	height: 80px;
	background-color: #dddddd;
}

.content > .memo-input {
	height: 500px;
}

.contents > .join-box {
	width: 300px;
	height: 500px;
}
.contents > .login-box {
	width: 300px;
	height: 500px;
}

.contents > .memolist > .memolist-title {
	height: 50px;
}
.contents > .memolist > .momolist-list {
	height: 400px;
}


footer {
	height: 80px;
	background-color: #dddddd;
}

